@charset "utf-8";

.jobhistory-top {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.jobhistory-top h1 {
    font-size: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
}

.jobhistory-top h2 {
    font-size: 24px;
    margin-top: 50px;
    line-height: 40px;
}

.jobhistory-top p {
    margin-top: 50px;
    padding-right: 50px;
    font-size: 16px;
    line-height: 28px;
}

.jobhistory {
    margin-top: 100px;
}

.button006 a {
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 240px;
    transition: 0.3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
}
.button006 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #5fa6ed;
    transition: 0.3s;
}
.button006 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 60px;
    height: 2px;
    background-color: #5fa6ed;
    transition: 0.3s;
}
.button006 a:hover:before, .button006 a:hover:after {
    right: -2.5em;
}
.button006 a:hover {
    background: #ffffff;
    color: #6bb6ff;
}